{% extends 'list.html' %}

{% load widget_tweaks %}

{% load static %}

<!-- Bloque de columnas  -->
{% block columnas %}
<tr>        
    <th>ID</th>
    <th>PERIODO</th>
    <th>NÚMERO DE SOLICITUD</th>
    <th>NÚMERO DE ACTA</th>
    <th>NÚMERO DE INFORME</th>
    <th>ESTADO</th>
    <th>OPCIONES</th>
</tr>
{% endblock columnas %}


{% block filas %}

  
{% endblock filas %}

<!-- Block de card_footer_list -->
{% block card_footer_list %}
<a href="{{ crear_url }}" class="btn btn-primary btn-flat btnAdd">
    <i class="fas fa-plus"></i> Nuevo Registro
</a>
<a href="{{ list_url }}" class="btn btn-success btn-flat">
  <i class="fas fa-sync"></i> Actualizar    
</a>            
{% endblock card_footer_list %}

{% block javascripts %}
    <!-- Configuracion -->
    <script src="{% static 'configuracion/periodo/js/periodo9.js' %}"></script>
{% endblock javascripts %}

